
#modal-add-product {
    background-color: rgba(30,30,30,0.8);
    position: fixed;
    width: 100%;
    height: 200vh;
    top:0;
    overflow:hidden
}
#modal-add-product .modal-header .close {
    width:25px;
    border:none;
    background-color: white ;
    border-radius: 50%;
    border: 1px solid #434E6E;
    color:red
}

#modal-add-product .modal-content {
    position: absolute;
    top:50px;
    left:calc((100vw - 500px)/2);
    width: 500px;
    height:auto;
    overflow: hidden;
}

#modal-add-product .product-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
}
#modal-add-product .product-type p {
    margin-bottom: 0;
}
#modal-add-product .modal-footer {
    height:auto;
    margin: 0 auto 12px;
    border-top: none;
}
#modal-add-product .modal-footer button{
    width:100px;
    border-radius:10px;
    background-color: #434E6E;
    color: white;
    border: none;
    padding: 4px 0;
}
#modal-add-product .modal-footer button:hover{
    transform: scale(1.1) ;
}
#modal-add-product .active {
    display: inline-block !important;
}